body{

font-family:Arial, Helvetica, sans-serif;
background:#141126;
color:white;
margin:0;

}

header{

background:#67549b;
padding:20px;
text-align:center;

}

.logo{

width:90px;

}

.container{

max-width:500px;
margin:auto;
padding:20px;

}

input,select{

width:100%;
padding:12px;
margin-top:8px;
border-radius:8px;
border:none;

}

button{

width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:none;
background:#67549b;
color:white;
font-weight:bold;
cursor:pointer;

}

#historico div{

background:#1f1a38;
padding:12px;
border-radius:10px;
margin-top:10px;

}

.cardJovem{

background:#1f1a38;
padding:12px;
border-radius:10px;
margin-top:10px;

}

.btnPasta{

margin-top:20px;

}

.arquivo{

background:#1f1a38;
padding:12px;
border-radius:10px;
margin-top:12px;

}

.fotoComprovante{

width:100%;
border-radius:8px;
margin-top:8px;

}

@media(max-width:600px){

.container{
padding:15px;
}

}